.title0_blk {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 14pt;
	font-weight: bold;
	line-height: 16pt;
	color: #000000;
}
.title1_blue {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 14pt;
	line-height: 16pt;
	font-weight: bold;
	color: #003366;
}
.title2_red {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 14pt;
	line-height: 16pt;
	font-weight: bold;
	color: #BB0000;
}
.body1_blk {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 10pt;
	line-height: 11pt;
	font-weight: normal;
	color: #000000;
}
.body2_blue {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 10pt;
	line-height: 11px;
	font-weight: normal;
	color: #003366;
}
.body3_red {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 10pt;
	line-height: 11pt;
	font-weight: normal;
	color: #BB0000;
}
.bodytop1_blk {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 11pt;
	line-height: 12pt;
	font-weight: bold;
	color: #000000;
}
a:link {
	color: #003366;
}
a:visited {
	color: #FF3399;
}
a:hover {
	color: #3366CC;
}
a:active {
	color: #FF6600;
}
.mbody1_blk {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 9pt;
	line-height: 10pt;
	font-weight: normal;
	color: #000000;
}
.topmenu_txt {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 9pt;
	line-height: 10pt;
	font-weight: normal;
	color: #003366;
}
.copyright {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 9pt;
	line-height: normal;
	color: #333333;
}
.tbl_left {
	font-size: 9pt;
	padding-left: 3pt;
	color: #FFFFFF;
	background-color: #666666;
}
.tbl_right {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 9pt;
	line-height: 10pt;
	color: #000000;
	background-color: #FFFFCC;
	padding-left: 3pt;
}
.body1_blk2 {

	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 9pt;
	line-height: 10pt;
	font-weight: normal;
	color: #000000;
}
.def_button {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 9pt;
	line-height: 10pt;
	font-weight: normal;
	color: #000000;
	padding: 3px 10px 2px 10px;
}
